<!DOCTYPE html>
<html lang="en">

<head>
    <title>404</title>
    <link rel="icon" href="/img/drizzle.svg">
</head>

<body>
    <div class="mainContent">
        {{>header}}
        <p>{{error}}</p>
    </div>

    {{>footer}}
</body>

</html>